<p id="notice"><%= notice %></p>

Move: <input type="text" id="currentMove" value="a7-a5">
<button id="appendMe">test</button><br>

Coordinates: <button id="showCoordinates">Coordinates</button>

<div id="board" data-game_id="<%= @game.id %>">
  <% 9.downto(1) do |number| %>
   
	<div class="rank">
		<% if number == 9 %>
	  		<div class="dark coordinate corner"></div> 
	  	<% else %>
	  		<div class="dark coordinate side"><br><%= number %></div> 
 	 	<% end %>
	  	<% ('a'..'h').each_with_index do |file, i| %>
	    
	    	<% if number == 9 %>
   	 			<div class="dark coordinate top" id="<%= file %><%= number %>"><%= file.capitalize %></div>
 	 		<% elsif (number + i).even? %>
 	 			<div class="square" id="<%= file %><%= number %>"></div>
 	 		<% else %>
 	 			<div class="dark square" id="<%= file %><%= number %>"></div>
 	 		<% end %>



	  	<% end %>
	</div>
  <% end %>
</div>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
