<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @exercise.title %>
</p>
<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
<br>
<!-- <p>
  <b>Description:</b>
  <%= @exercise.description %>
</p>

<p>
  <b>Moves:</b>
  <%= @exercise.moves %>
</p>
 -->
<button id="move">Next Move</button>
<br>
<button id="showCoordinates">Coordinates</button>

<div id="board" data-initial_setup="<%=@exercise.initial_setup %>" data-moves="<%= @exercise.moves %>">
  <% 9.downto(1) do |number| %>
   
	<div class="rank">
		<% if number == 9 %>
	  		<div class="dark coordinate corner"></div> 
	  	<% else %>
	  		<div class="dark coordinate side"><br><%= number %></div> 
 	 	<% end %>
	  	<% ('a'..'h').each_with_index do |file, i| %>
	    
	    	<% if number == 9 %>
   	 			<div class="dark coordinate top" id="<%= file %><%= number %>"><%= file.capitalize %></div>
 	 		<% elsif (number + i).even? %>
 	 			<div class="square" id="<%= file %><%= number %>"></div>
 	 		<% else %>
 	 			<div class="dark square" id="<%= file %><%= number %>"></div>
 	 		<% end %>



	  	<% end %>
	</div>
  <% end %>
</div>


