<% javascript 'move.js' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @exercise.title %>
</p>
<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
<br>
<!-- <p>
  <b>Description:</b>
  <%= @exercise.description %>
</p>

<p>
  <b>Moves:</b>
  <%= @exercise.moves %>
</p>
 -->
<button id="move">Next Move</button>
<br>
<button id="showCoordinates">Coordinates</button>


    <label for="board_size">Board Size</label>
    <select name="board_size" id="board_size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option selected="selected">5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
    </select>

    <div id='slider'></div>

<%= render 'board' %>


